<style type="text/css">
  .top-buffer { margin-top:20px; }

	.removed-item-scrollable {
	  height:150px;
	  overflow-y: scroll;
	  overflow-x: hidden;
	}
</style>
<div class="card">
	<div class="card-header">
		Deleted items
	</div>
	<ul>
		<smooth-dnd-container [groupName]="'1'" 
				[getChildPayload]="getChildPayload" 
				(drop)="onDrop('removed-item', $event)"
				class="list-group list-group-flush removed-item-scrollable">
			<smooth-dnd-draggable *ngFor="let item of removedItems | orderBy: 'data'; let i = index">
				<li class="draggable-item list-group-item">
				  	<div class="row">
				  		<div class="col-5">
				  			{{item.data}}
				  		</div>
				  		<div class="col-2">
						    <button type="button" class="btn btn-primary" (click)="addItemBack(item)">
						    	Add Back
						    </button>
				  		</div>
			      </div>
				</li>
			</smooth-dnd-draggable>
		</smooth-dnd-container>
	</ul>
</div>