
<style type="text/css">
  .bottom-buffer { margin-bottom:20px; }
  .drag-drop-box { 
    width: 100%;
    height: 600px;  
    overflow-y: scroll;
    overflow-x: hidden;
  }
</style>

<div [ngStyle]="{ 'display': 'flex', 'justifyContent': 'stretch', 'marginRight': '50px' }" 
  class="drag-drop-box">
  <div [ngStyle]="{'marginLeft': '50px', 'flex': '1'}">
    <smooth-dnd-container [groupName]="'1'" [getChildPayload]="getChildPayload" (drop)="onDrop('drag-drop', $event)">
      <smooth-dnd-draggable *ngFor="let item of items | orderBy: 'idx'; let i = index">
        <div class="drag-drop draggable-item">
          <div class="row bottom-buffer">
            <div class="col-5">
              {{item.data}}
            </div>
            <div class="col-2">
              <button type="button" class="btn btn-primary" (click)="removeItem(item)">
                Remove
              </button>
            </div>
          </div>
        </div>
      </smooth-dnd-draggable>
    </smooth-dnd-container>
  </div>